body{
    background-color: #00ff00;
}

@media (min-width: 1000px) {
    body{
        background-color: #0000ff;
    }
    h1{
        font-size: 70px;
    }
}
@media (min-width: 700px) and (max-width: 1000px) {
    body{
        background-color: purple;
    }
    h1{
        font-size: 50px;
    }
}

@media (max-width: 600px) {
    body{
        background-color: #ff0000;
    }
    h1{
        font-size: 15px;
    }

}

@media only print {
    h1{
        font-size: 100px;
        font-weight: normal;
    }
}