:root{
    --bg-color: #000;
    --bg-second: #444;
    --font-color: #fff;
    --font-size: 25px;
}

body{
    background-color: var(--bg-color);
    font-size: var(--font-size);
}

h1{
    background-color: var(--font-color);
}

.container{
    background-color: var(--bg-second);
    color: var(--font-color);
}

@media (max-width: 450px){
    :root{
        --font-size: 15px;
    }
}