body{
    margin: 0;
}

header{
    height: 250px;
    background-color: #ddd;
}
nav{
    height: 50px;
    background-color: #999;
}

article{
    background-color: forestgreen;
}

.s1{
    background-color: aquamarine;
}

.s2{
    background-color: cadetblue;
}

aside{
    background-color: hotpink;
}

teste{
    background-color: cadetblue;
}

footer{
    height: 100px;
    background-color: #ccc;
}