*{
    text-align: center;
}

.selo{
    display: inline-flex;
    margin-top: 5px;
    margin-left: -180px;
    padding-left: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #2880bc;
    
    color: aliceblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid white;
    height: 40px;
    width: 360px;
}

.tarja{
    width: 600px;
    height: 90px;
    background-color: #2880bc;
    transform: rotate(-50deg);
    margin-left: -150px;
    box-shadow: 10px 10px 10px #bbb;
    align-items: center;
}

#prof{
    margin: 0 auto;
}

#prof td{
    padding: 5px;
}
#prof th{
    padding: 5px;
    background-color: darkgray;
}

#prof tr:nth-child(odd){
    background-color: aquamarine;
}

#prof tr:nth-child(even){
    background-color: bisque;
}

.botao{
    background-color: #2880bc;
    color: white;
    border: 2px solid blue;
    padding: 10px 20px;
    font-size: 20px;
    font-family: Arial;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #bbb;
}

a{
    text-decoration: none;
}

a:hover{
    background-color: #33a1f0;
}